[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiohttp = "*"
cassandra-driver = "*"
click = "*"


[dev-packages]

"e1839a8" = {path = ".", editable = true}
pytest = "*"
pytest-aiohttp = "*"
tox = "*"


[requires]

python_version = "3.6"
